
.viewtrailer {
    min-height: 450px;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
}

.boton {
    background-color: #0F1014;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.boton{
    border-radius: 30px;
}

.reproductor {
    width: 100%;
    height: 400px;
}

body{
    background: #0F1014;
}

.text-center{
    color: azure;
}

.btn{
    background: black;
    width: 70px;
    height: 35px;
}


